.nav{
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.nav-item{
    padding-left: 3em;
    
}

.containerswitch {
    position: absolute;
    top: 0; right: 0; bottom: 40em; left: 92em;
    height: 40px;
    margin: auto;
  }


  main{
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

/*Info page*/

#infoarticle{
  text-align: center;
}
  

/*Calculator*/

#screen{
  margin-top: 2em;
  height: 3em;
  font-size: 2vw;
}

#fifthline button{
  transform: translate(3em);
}

#firstline button{
  transform: translate(6em);
}
